<html>
  <head></head>
  <body>
    <form>
      <input type="text" name="guess" />
      <input type="submit" value="Guess!" />
    </form>
    <p>
      The SECRET NUMBER is <%= number %> <br />
      <%= message %>
    </p>
  </body>
</html>
