<html>
  <head></head>
  <body>
    <form>
      <p> Enter message </p>
      <input type="text" name="message" />
      <p> Enter shift value </p>
      <input type="number" name="shift" /> <br />
      <input type="submit" value="encrypt" />
    </form>
    <p>
       <br />
       encrypted message : <%= encrypted_message %>
    </p>
  </body>
</html>
